astroid==3.3.8
dill==0.3.9
isort==5.13.2
matplotlib==3.9.2
mccabe==0.7.0
pandas==2.2.2
platformdirs==4.3.6
PyMySQL==1.1.1
PyOpenGL==3.1.7
PyQt5==5.15.10
pyqtgraph==0.13.7
pyrr==0.10.3
pytest==8.3.4
requests==2.32.3
setuptools==75.6.0
tach==0.23.0
tomlkit==0.13.2
wheel==0.45.1
